.container {
  text-align: center;
}

.title {

  font-weight: 1200;
  color: rgb(255, 255, 255);
}

.head {
  padding: 40px 0;
  background: #000;
}

.sub-title {
  color: aliceblue;
}

.colcolor {
  border: 2px solid rgb(0, 0, 0);
}

.sub-card {
  font-size: 17px;
}